//====================================================================================================

//====================================================================================================
.page {
    &__main-slider {
        @include adaptiveValue("margin-bottom", 45, 25);
    }
    &__time-buy,
    &__offer {
        @include adaptiveValue("margin-bottom", 65, 15);
    }
    &__catalog-block,
    &__event,
    &__contact,
    &__about,
    &__more-info {
        @include adaptiveValue("margin-bottom", 85, 35);
    }
}

// ! main-slider (1 блок)
.main-slider {
    &__slider {
        position: relative;
    }

    &__wrapper {
    }

    &__slide {
        position: relative;
        max-width: rem(967);
        max-height: rem(320);
        overflow: hidden;
        @media (max-width: $tablet) {
            max-width: 100%;
            height: 100%;
        }
    }

    &__image img {
    }
    &__body {
        max-width: 100%;
        position: absolute;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        left: rem(35);
        right: rem(35);
        bottom: rem(35);
        color: #fff;
        @media (max-width: $mobile) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__text {
        @media (max-width: $mobile) {
            margin-bottom: rem(10);
        }
    }
    &__subtitle {
        font-size: rem(14);
        line-height: math.div(18, 14);
    }

    &__title {
        font-weight: 700;
        font-size: rem(28);
        @include adaptiveValue("font-size", 28, 24);
        line-height: math.div(33, 28);
    }

    &__btn {
        display: inline-block;
        font-size: rem(14);
        font-weight: 700;
        line-height: math.div(16, 14);
    }
}
.main-slider__pagination {
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    gap: rem(5);
    bottom: rem(10);
    left: 50%;
    transform: translateX(-50%);
}
.swiper-pagination-bullet {
    transition: all 0.3s ease 0s;
    width: rem(15);
    height: rem(4);
    background: #929292;
    border-radius: rem(9);
    cursor: pointer;
}
.swiper-pagination-bullet-active {
    width: rem(23);
    background: #ffffff;
}

// ! catalog-block (2 блок)
.catalog-block {
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @include adaptiveValue("gap", 30, 15);
        .catalog-btn {
            display: none;
        }
        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 640px) {
            grid-template-columns: repeat(1, 1fr);
            .catalog-btn {
                max-width: rem(170);
                margin: 0 auto;
                display: block;
            }
        }
    }
    .all-catalog-link {
        .catalog-block__text {
            color: $accentColor;
        }
        @media (max-width: 640px) {
            display: none;
        }
    }
    &__item {
        transition: all 0.5s ease 0s;
        position: relative;
        border-radius: rem(9);
        overflow: hidden;
        box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.25);
        padding-bottom: 75%;
        @media (max-width: 640px) {
            padding-bottom: 60%;
        }
        @media (any-hover: hover){
            &:hover{
                transform: scale(1.05);
            }
        }

        &_big {
            grid-column: span 2;
            grid-row: span 2;
            @media (max-width: 640px) {
                grid-column: span 1;
                grid-row: span 1;
            }
        }
    }

    &__text {
        width: 100%;
        color: #fff;
        font-size: rem(18);
        line-height: 240%;
        font-weight: 700;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        padding-left: rem(19);
        background: $mainColor;
    }
}

// ! time-buy (3 блок)

.time-buy__slider,
.offer__slider {
    padding: rem(20) rem(15);
}
.time-buy__container,
.offer__container {
    padding: 0 rem(25);
    position: relative;
}
.time-buy__button-next,
.time-buy__button-prev,
.offer__button-next,
.offer__button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.time-buy__button-prev,
.offer__button-prev {
    left: rem(10);
    transform: rotate(180deg);
}
.time-buy__button-next,
.offer__button-next {
    right: rem(10);
}

// ! event (4 блок)
.event {
    &__card {
        @include adaptiveValue("margin-bottom", 38, 15);
    }

    &__more {
        text-align: center;
    }
    &__btn {
        @include adaptiveValue("font-size", 23, 16);
        padding: rem(22) rem(75);
    }
}

// ! more-info (5 блок)
.more-info {
    &__card {
        @include adaptiveValue("margin-bottom", 38, 15);
    }
    &__more {
        text-align: center;
    }
    &__btn {
        color: $mainColor;
        @include adaptiveValue("font-size", 23, 16);
        padding: rem(22) rem(75);
        border-width: 3px;
    }
    .card-info__title {
        color: #fff;
    }
}

// ! about (6 блок)
.about {
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include adaptiveValue("gap", 30, 15);
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
            .about__text {
                order: 1;
            }
            .about__image {
                order: -1;
            }
            .about__title {
                order: -2;
            }
        }
    }

    &__info {
    }

    &__title {
    }

    &__text {
        line-height: math.div(21, 16);
    }

    &__paragraph {
        &:not(:last-child) {
            margin-bottom: rem(18);
        }
        text-align: justify;
    }

    &__image {
        overflow: hidden;
        border-radius: rem(9);
        box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.2);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// ! contact (7 блок)
.contact {
    &__info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include adaptiveValue("gap", 120, 10, 1140, 768);
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(25);
        @include adaptiveValue("font-size", 19, 16);
        line-height: math.div(22, 19);
        span {
            font-weight: 700;
        }
        @include adaptiveValue("margin-bottom", 35, 15);
    }

    &__item {
        display: flex;
        align-items: center;
        gap: rem(25);
        ._icon-email-contact::before {
            font-weight: 600;
            font-size: 1.1em;
        }
    }
    &__icon {
        @include adaptiveValue("font-size", 30, 20);
    }
    &__subtitle {
        font-weight: 700;
        font-size: rem(22);
        line-height: math.div(26, 22);
        @include adaptiveValue("margin-bottom", 21, 15);
    }
    &__map {
        iframe {
            border-radius: rem(9);
            width: 100%;
            height: 100%;
            @media (max-width: $mobile) {
                height: rem(400);
                width: 100%;
                margin-bottom: rem(25);
            }
        }
    }
}
.form-questions {
    &__item {
        margin-bottom: rem(15);
        label {
            display: block;
            margin-bottom: rem(7);
        }
    }

    &__input {
        width: 100%;
        border: 1px solid rgba($mainColor, $alpha: 0.33);
        padding: rem(14) rem(20);
        border-radius: rem(9);
        &::placeholder {
            color: rgba($mainColor, $alpha: 0.33);
            font-size: rem(15);
        }
    }
    &__comment {
        height: rem(90);
        resize: none
    }
    &__btn {
        @include adaptiveValue("font-size", 19, 16);
        @include adaptiveValue("padding", 12, 10);
        width: 100%;
        margin-bottom: rem(15);
    }

    &__agree {
        a {
            text-decoration: underline;
        }
    }
}